.home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fcfcfc;
	box-sizing: border-box;
}

.home h1 {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}

.home h1 span:nth-child(1) {
	color: #1da1db;
}

.home h1 span:nth-child(2) {
	color: #f7751f;
}
